USE [master]
GO
/****** Object:  Database [jspmxsstglxtdzkf4295]    Script Date: 03/04/2018 21:10:17 ******/
CREATE DATABASE [jspmxsstglxtdzkf4295] ON  PRIMARY 
( NAME = N'jspmxsstglxtdzkf4295', FILENAME = N'C:\Users\wcg\Desktop\database\database\jspmxsstglxtdzkf4295.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'jspmxsstglxtdzkf4295_log', FILENAME = N'C:\Users\wcg\Desktop\database\database\jspmxsstglxtdzkf4295_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [jspmxsstglxtdzkf4295].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [jspmxsstglxtdzkf4295]
GO
/****** Object:  Table [dbo].[youqinglianjie]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[youqinglianjie](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[wangzhanmingcheng] [varchar](50) NULL,
	[wangzhi] [varchar](50) NULL,
	[addtime] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[youqinglianjie] ON
INSERT [dbo].[youqinglianjie] ([ID], [wangzhanmingcheng], [wangzhi], [addtime]) VALUES (1, N'百度', N'http://www.baidu.com', CAST(0x0000A899012CFF78 AS DateTime))
INSERT [dbo].[youqinglianjie] ([ID], [wangzhanmingcheng], [wangzhi], [addtime]) VALUES (2, N'谷歌', N'http://www.google.cn', CAST(0x0000A899012CFF78 AS DateTime))
INSERT [dbo].[youqinglianjie] ([ID], [wangzhanmingcheng], [wangzhi], [addtime]) VALUES (3, N'新浪', N'http://www.sina.com', CAST(0x0000A899012CFF78 AS DateTime))
SET IDENTITY_INSERT [dbo].[youqinglianjie] OFF
/****** Object:  Table [dbo].[yonghuzhuce]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[yonghuzhuce](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[yonghuming] [varchar](50) NULL,
	[mima] [varchar](50) NULL,
	[xingming] [varchar](50) NULL,
	[xingbie] [varchar](2) NULL,
	[chushengnianyue] [varchar](50) NULL,
	[QQ] [varchar](50) NULL,
	[youxiang] [varchar](50) NULL,
	[shoujihao] [varchar](50) NULL,
	[shengao] [varchar](50) NULL,
	[tizhong] [varchar](50) NULL,
	[jiguan] [varchar](50) NULL,
	[xingquaihao] [varchar](50) NULL,
	[xuexiao] [varchar](50) NULL,
	[zhuanye] [varchar](50) NULL,
	[shenfenzheng] [varchar](50) NULL,
	[touxiang] [varchar](50) NULL,
	[dizhi] [varchar](300) NULL,
	[gerenlicheng] [varchar](500) NULL,
	[addtime] [datetime] NULL,
	[issh] [varchar](2) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[yonghuzhuce] ON
INSERT [dbo].[yonghuzhuce] ([ID], [yonghuming], [mima], [xingming], [xingbie], [chushengnianyue], [QQ], [youxiang], [shoujihao], [shengao], [tizhong], [jiguan], [xingquaihao], [xuexiao], [zhuanye], [shenfenzheng], [touxiang], [dizhi], [gerenlicheng], [addtime], [issh]) VALUES (1, N'555', N'555', N'何升高', N'男', N'2012-07-08', N'429489354', N'gsgs@163.com', N'13186835580', N'175', N'57', N'ab', N'hgf', N'发放表', N'还头一回', N'52353253262', N'upload/1333961148718.jpg', N'龙港龙翔路1170号', N'mfgmfgmfg', CAST(0x0000A899010C09F8 AS DateTime), N'是')
INSERT [dbo].[yonghuzhuce] ([ID], [yonghuming], [mima], [xingming], [xingbie], [chushengnianyue], [QQ], [youxiang], [shoujihao], [shengao], [tizhong], [jiguan], [xingquaihao], [xuexiao], [zhuanye], [shenfenzheng], [touxiang], [dizhi], [gerenlicheng], [addtime], [issh]) VALUES (2, N'leejie', N'leejie', N'李龙', N'男', N'2012-05-21', N'851781333', N'fege@126.com', N'63474337', N'178', N'78', N'发挥发挥', N'黄飞鸿', N'今天预计', N'很绕', N'623632153', N'upload/1333963398718.gif', N'温州飞翔路2号', N'htrjrtjr', CAST(0x0000A899010C09F8 AS DateTime), N'是')
INSERT [dbo].[yonghuzhuce] ([ID], [yonghuming], [mima], [xingming], [xingbie], [chushengnianyue], [QQ], [youxiang], [shoujihao], [shengao], [tizhong], [jiguan], [xingquaihao], [xuexiao], [zhuanye], [shenfenzheng], [touxiang], [dizhi], [gerenlicheng], [addtime], [issh]) VALUES (3, N'mygod', N'mygod', N'陈德才', N'男', N'2012-02-02', N'870538338', N'gshf@yahoo.com', N'9696556', N'165', N'50', N'不放过班费个', N'犯桃花', N'发过火', N'黄飞鸿', N'33253636', N'upload/1333963445546.gif', N'杭州四季青广场3号', N'hdhffd', CAST(0x0000A899010C09F8 AS DateTime), N'是')
SET IDENTITY_INSERT [dbo].[yonghuzhuce] OFF
/****** Object:  Table [dbo].[xinwentongzhi]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[xinwentongzhi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[biaoti] [varchar](300) NULL,
	[leibie] [varchar](50) NULL,
	[neirong] [text] NULL,
	[tianjiaren] [varchar](50) NULL,
	[shouyetupian] [varchar](50) NULL,
	[dianjilv] [int] NULL,
	[addtime] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[xinwentongzhi] ON
SET IDENTITY_INSERT [dbo].[xinwentongzhi] OFF
/****** Object:  Table [dbo].[shoucangjilu]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[shoucangjilu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[xwid] [varchar](50) NULL,
	[ziduan] [varchar](50) NULL,
	[biao] [varchar](50) NULL,
	[addtime] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[shoucangjilu] ON
INSERT [dbo].[shoucangjilu] ([ID], [username], [xwid], [ziduan], [biao], [addtime]) VALUES (1, N'555', N'3', N'rizhibiaoti', N'rizhi', CAST(0x0000A899014CD000 AS DateTime))
SET IDENTITY_INSERT [dbo].[shoucangjilu] OFF
/****** Object:  Table [dbo].[shetuanxinxi]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[shetuanxinxi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[shetuanbianhao] [varchar](50) NULL,
	[shetuanmingcheng] [varchar](50) NULL,
	[chenglishijian] [datetime] NULL,
	[shetuanshuxing] [varchar](50) NULL,
	[shetuanleibie] [varchar](50) NULL,
	[suoshuxuexiao] [varchar](50) NULL,
	[shetuanyouxiang] [varchar](50) NULL,
	[shetuanqqqun] [varchar](50) NULL,
	[shetuantupian] [varchar](50) NULL,
	[shechang] [varchar](50) NULL,
	[shouji] [varchar](50) NULL,
	[baomingfeiyong] [varchar](50) NULL,
	[shetuanjianjie] [varchar](500) NULL,
	[issh] [varchar](2) NULL,
	[addtime] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[shetuanxinxi] ON
INSERT [dbo].[shetuanxinxi] ([ID], [shetuanbianhao], [shetuanmingcheng], [chenglishijian], [shetuanshuxing], [shetuanleibie], [suoshuxuexiao], [shetuanyouxiang], [shetuanqqqun], [shetuantupian], [shechang], [shouji], [baomingfeiyong], [shetuanjianjie], [issh], [addtime]) VALUES (1, N'03022221403711', N'志愿者', CAST(0x0000A8A100000000 AS DateTime), NULL, N'A类别', N'北京大学', N'4456465@qq.com', N'4456465', N'upload/1488464513013.jpg', N's001', N'13367752235', N'20', N'发个梵蒂冈的豆腐干豆腐大范甘迪法国打得过古典', N'是', CAST(0x0000A89901709D3C AS DateTime))
INSERT [dbo].[shetuanxinxi] ([ID], [shetuanbianhao], [shetuanmingcheng], [chenglishijian], [shetuanshuxing], [shetuanleibie], [suoshuxuexiao], [shetuanyouxiang], [shetuanqqqun], [shetuantupian], [shechang], [shouji], [baomingfeiyong], [shetuanjianjie], [issh], [addtime]) VALUES (2, N'03022249413943', N'戏曲社', CAST(0x0000A8A600000000 AS DateTime), NULL, N'B类别', N'清华大学', N'445354453@qq.com', N'445354453', N'upload/1488466195423.jpg', N's002', N'18988576978', N'15', N'的非官方的高峰', N'是', CAST(0x0000A89901784A78 AS DateTime))
INSERT [dbo].[shetuanxinxi] ([ID], [shetuanbianhao], [shetuanmingcheng], [chenglishijian], [shetuanshuxing], [shetuanleibie], [suoshuxuexiao], [shetuanyouxiang], [shetuanqqqun], [shetuantupian], [shechang], [shouji], [baomingfeiyong], [shetuanjianjie], [issh], [addtime]) VALUES (3, N'03022312166210', N'dsdg ', CAST(0x0000A87D00000000 AS DateTime), NULL, N'C类别', N'浙江大学', N'1564564156@qq.com', N'1564564156', N'upload/1488467544957.jpg', N's003', N'13367752235', N'20', N'dfgdfgf ', N'是', CAST(0x0000A899017E7628 AS DateTime))
SET IDENTITY_INSERT [dbo].[shetuanxinxi] OFF
/****** Object:  Table [dbo].[shetuanxiangce]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[shetuanxiangce](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[zhaopianbianhao] [varchar](50) NULL,
	[biaoti] [varchar](50) NULL,
	[tupian] [varchar](50) NULL,
	[jieshao] [varchar](500) NULL,
	[faburen] [varchar](50) NULL,
	[issh] [varchar](2) NULL,
	[addtime] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[shetuanxiangce] ON
INSERT [dbo].[shetuanxiangce] ([ID], [zhaopianbianhao], [biaoti], [tupian], [jieshao], [faburen], [issh], [addtime]) VALUES (1, N'235523', N'的非官方的高峰', N'upload/1488464563239.jpg', N'地方大幅度发鬼地方', N's001', N'否', CAST(0x0000A8990170CD48 AS DateTime))
INSERT [dbo].[shetuanxiangce] ([ID], [zhaopianbianhao], [biaoti], [tupian], [jieshao], [faburen], [issh], [addtime]) VALUES (2, N'2342412', N'丰东股份公告发', N'upload/1488464593810.jpg', N'地方个地方噶地方 ', N's001', N'否', CAST(0x0000A8990170EF44 AS DateTime))
INSERT [dbo].[shetuanxiangce] ([ID], [zhaopianbianhao], [biaoti], [tupian], [jieshao], [faburen], [issh], [addtime]) VALUES (3, N'是发斯蒂芬斯蒂芬', N'的负担感', N'upload/1488466228200.jpg', N'发个梵蒂冈地方', N's002', N'否', CAST(0x0000A89901786C74 AS DateTime))
SET IDENTITY_INSERT [dbo].[shetuanxiangce] OFF
/****** Object:  Table [dbo].[shetuanhuodong]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[shetuanhuodong](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[bianhao] [varchar](50) NULL,
	[biaoti] [varchar](300) NULL,
	[riqi] [varchar](50) NULL,
	[faburen] [varchar](50) NULL,
	[huodongjianjie] [text] NULL,
	[issh] [varchar](2) NULL,
	[addtime] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[shetuanhuodong] ON
INSERT [dbo].[shetuanhuodong] ([ID], [bianhao], [biaoti], [riqi], [faburen], [huodongjianjie], [issh], [addtime]) VALUES (1, N'03220013335488', N'法规和法国电话电费和发过火 ', N'2017-03-28', N's001', N'发个梵蒂冈放电饭锅地方个辅导费给对方电饭锅', N'是', CAST(0x0000A89900040BF0 AS DateTime))
INSERT [dbo].[shetuanhuodong] ([ID], [bianhao], [biaoti], [riqi], [faburen], [huodongjianjie], [issh], [addtime]) VALUES (2, N'03220022002118', N'让他回合肥工号高峰黑寡妇黑寡妇 ', N'2017-03-28', N's001', N'<p>
	发的鬼地方个的丰富的梵蒂冈分店给对方的丰富的给对方答复地方豆腐干豆腐g大范甘迪fd发
</p>
<p>
	df
</p>
<p>
	df个dfgd发d法国
</p>
<p>
	dfg fdfdg发
</p>', N'是', CAST(0x0000A89900061A1C AS DateTime))
INSERT [dbo].[shetuanhuodong] ([ID], [bianhao], [biaoti], [riqi], [faburen], [huodongjianjie], [issh], [addtime]) VALUES (3, N'03220035431880', N'而的佛挡杀佛萨达 ', N'2017-03-28', N's002', N'士大夫士大夫的说法是到水电费萨达', N'是', CAST(0x0000A8990009D9E0 AS DateTime))
SET IDENTITY_INSERT [dbo].[shetuanhuodong] OFF
/****** Object:  Table [dbo].[shechangxinxi]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[shechangxinxi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[xuehao] [varchar](50) NULL,
	[mima] [varchar](50) NULL,
	[xingming] [varchar](50) NULL,
	[xingbie] [varchar](50) NULL,
	[chushengnianyue] [varchar](50) NULL,
	[shouji] [varchar](50) NULL,
	[youxiang] [varchar](50) NULL,
	[touxiang] [varchar](50) NULL,
	[dizhi] [varchar](300) NULL,
	[beizhu] [varchar](500) NULL,
	[issh] [varchar](2) NULL,
	[addtime] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[shechangxinxi] ON
INSERT [dbo].[shechangxinxi] ([ID], [xuehao], [mima], [xingming], [xingbie], [chushengnianyue], [shouji], [youxiang], [touxiang], [dizhi], [beizhu], [issh], [addtime]) VALUES (1, N's001', N'001', N'林芬芬', N'女', N'1994-03-10', N'13367752235', N'239865@qq.com', N'upload/1488463650313.jpg', N'是的范德萨发缩到梵蒂冈非官方的', N'的丰富的 肥嘟嘟否', N'是', CAST(0x0000A899016CA538 AS DateTime))
INSERT [dbo].[shechangxinxi] ([ID], [xuehao], [mima], [xingming], [xingbie], [chushengnianyue], [shouji], [youxiang], [touxiang], [dizhi], [beizhu], [issh], [addtime]) VALUES (2, N's002', N'002', N'高洪波', N'男', N'1993-03-23', N'18988576978', N'239865@qq.com', N'upload/1488463681944.jpg', N'东方风格的发个梵蒂冈', N' 豆腐干豆腐地方', N'是', CAST(0x0000A899016CC734 AS DateTime))
INSERT [dbo].[shechangxinxi] ([ID], [xuehao], [mima], [xingming], [xingbie], [chushengnianyue], [shouji], [youxiang], [touxiang], [dizhi], [beizhu], [issh], [addtime]) VALUES (3, N's003', N'003', N'王伟', N'男', N'2017-03-29', N'13858867732', N'237895@qq.com', N'upload/1488463716592.jpg', N'梵蒂冈梵蒂冈分店', N'的非官方的地方地方 ', N'是', CAST(0x0000A899016CEF0C AS DateTime))
SET IDENTITY_INSERT [dbo].[shechangxinxi] OFF
/****** Object:  Table [dbo].[rizhi]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[rizhi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[rizhibiaoti] [varchar](300) NULL,
	[fabiaoshijian] [varchar](50) NULL,
	[rizhineirong] [text] NULL,
	[fabiaoren] [varchar](50) NULL,
	[addtime] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[rizhi] ON
INSERT [dbo].[rizhi] ([ID], [rizhibiaoti], [fabiaoshijian], [rizhineirong], [fabiaoren], [addtime]) VALUES (1, N'和让他还让他好人挺好让他', N'2018-03-04 20:10:06', N'你后台认得你后押金跟不跟<img src="/jspmxsstglxtdzkf4295/attached/image/20180304/20180304201119_418.jpg" alt="" />', N's001', CAST(0x0000A899014C60AC AS DateTime))
INSERT [dbo].[rizhi] ([ID], [rizhibiaoti], [fabiaoshijian], [rizhineirong], [fabiaoren], [addtime]) VALUES (2, N'没让你的好人低年级的条件', N'2018-03-04 20:10:16', N'烦恼和汇添富那样的话海富通还不如不会的发交付给的很干净同一家&nbsp;<img src="/jspmxsstglxtdzkf4295/attached/image/20180304/20180304201037_858.gif" alt="" />', N's001', CAST(0x0000A899014C83D4 AS DateTime))
INSERT [dbo].[rizhi] ([ID], [rizhibiaoti], [fabiaoshijian], [rizhineirong], [fabiaoren], [addtime]) VALUES (3, N'烦恼和电脑送人头', N'2018-03-04 20:10:44', N'飞燕女回头太难忽然回头 好男人三天后燃烧体内与诺基亚的地图好的男人团模拟卷<img src="/jspmxsstglxtdzkf4295/attached/image/20180304/20180304201100_573.jpg" alt="" />', N's001', CAST(0x0000A899014C9D9C AS DateTime))
SET IDENTITY_INSERT [dbo].[rizhi] OFF
/****** Object:  Table [dbo].[richengbiaoxinxi]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[richengbiaoxinxi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[xueqi] [varchar](50) NULL,
	[richengbiao] [varchar](50) NULL,
	[addtime] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[richengbiaoxinxi] ON
INSERT [dbo].[richengbiaoxinxi] ([ID], [xueqi], [richengbiao], [addtime]) VALUES (1, N'一学期', N'upload/1520168545911.rar', CAST(0x0000A899015ABE04 AS DateTime))
INSERT [dbo].[richengbiaoxinxi] ([ID], [xueqi], [richengbiao], [addtime]) VALUES (2, N'二学期', N'upload/1520168572512.rar', CAST(0x0000A899015ADDA8 AS DateTime))
SET IDENTITY_INSERT [dbo].[richengbiaoxinxi] OFF
/****** Object:  Table [dbo].[pinglun]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[pinglun](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[xinwenID] [varchar](50) NULL,
	[pinglunneirong] [varchar](300) NULL,
	[pinglunren] [varchar](50) NULL,
	[pingfen] [varchar](50) NULL,
	[biao] [varchar](50) NULL,
	[addtime] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[liuyanban]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[liuyanban](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[cheng] [varchar](50) NULL,
	[xingbie] [varchar](2) NULL,
	[QQ] [varchar](50) NULL,
	[youxiang] [varchar](50) NULL,
	[dianhua] [varchar](50) NULL,
	[neirong] [varchar](500) NULL,
	[addtime] [datetime] NULL,
	[huifuneirong] [varchar](500) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[liuyanban] ON
INSERT [dbo].[liuyanban] ([ID], [cheng], [xingbie], [QQ], [youxiang], [dianhua], [neirong], [addtime], [huifuneirong]) VALUES (2, N'豆腐干豆腐', N'2', N'', N'5837895@qq.com', N'', N'dsfsd sd', CAST(0x0000A89901141620 AS DateTime), N'dfdsdfg f')
SET IDENTITY_INSERT [dbo].[liuyanban] OFF
/****** Object:  Table [dbo].[kaoqin]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[kaoqin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[shetuanbianhao] [varchar](50) NULL,
	[shetuanmingcheng] [varchar](50) NULL,
	[kaoqinriqi] [varchar](50) NULL,
	[kaoqinzhuangtai] [varchar](50) NULL,
	[kaoqinchengyuan] [varchar](50) NULL,
	[beizhu] [varchar](500) NULL,
	[issh] [varchar](2) NULL,
	[addtime] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[kaoqin] ON
INSERT [dbo].[kaoqin] ([ID], [shetuanbianhao], [shetuanmingcheng], [kaoqinriqi], [kaoqinzhuangtai], [kaoqinchengyuan], [beizhu], [issh], [addtime]) VALUES (1, N'03022221403711', N'志愿者', N'2017-03-02 22:42:56', N'正常', N'111', N'发个非官方个好', N'否', CAST(0x0000A89901765AC4 AS DateTime))
INSERT [dbo].[kaoqin] ([ID], [shetuanbianhao], [shetuanmingcheng], [kaoqinriqi], [kaoqinzhuangtai], [kaoqinchengyuan], [beizhu], [issh], [addtime]) VALUES (2, N'03022221403711', N'志愿者', N'2017-03-03 22:43:08', N'请假', N'111', N'的发杆地方地方水电费', N'是', CAST(0x0000A89901766EB0 AS DateTime))
INSERT [dbo].[kaoqin] ([ID], [shetuanbianhao], [shetuanmingcheng], [kaoqinriqi], [kaoqinzhuangtai], [kaoqinchengyuan], [beizhu], [issh], [addtime]) VALUES (3, N'03022221403711', N'志愿者', N'2017-02-28 23:52:52', N'正常', N'111', N'dsdgdfg', N'是', CAST(0x0000A899018994A4 AS DateTime))
SET IDENTITY_INSERT [dbo].[kaoqin] OFF
/****** Object:  Table [dbo].[jucan]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[jucan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[huodongbiaoti] [varchar](300) NULL,
	[huodongriqi] [varchar](50) NULL,
	[yonghuming] [varchar](50) NULL,
	[xingming] [varchar](50) NULL,
	[jucanjieshao] [varchar](500) NULL,
	[jubanren] [varchar](50) NULL,
	[addtime] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[jucan] ON
INSERT [dbo].[jucan] ([ID], [huodongbiaoti], [huodongriqi], [yonghuming], [xingming], [jucanjieshao], [jubanren], [addtime]) VALUES (1, N'fdf', N'2017-03-28', N'111', N'王伟', N'sddfgfdgfd', N's001', CAST(0x0000A89901169274 AS DateTime))
INSERT [dbo].[jucan] ([ID], [huodongbiaoti], [huodongriqi], [yonghuming], [xingming], [jucanjieshao], [jubanren], [addtime]) VALUES (2, N'dsfdsfdsfdsds', N'2017-03-28', N'555', N'何升高', N'dssdfsdfgfdgdf ', N's001', CAST(0x0000A899011FD9D8 AS DateTime))
SET IDENTITY_INSERT [dbo].[jucan] OFF
/****** Object:  Table [dbo].[huodongshenqing]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[huodongshenqing](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[shetuanbianhao] [varchar](50) NULL,
	[shetuanmingcheng] [varchar](50) NULL,
	[mingcheng] [varchar](300) NULL,
	[huodongleixing] [varchar](50) NULL,
	[changdi] [varchar](300) NULL,
	[huodongshijian] [varchar](50) NULL,
	[huodongjianjie] [varchar](500) NULL,
	[shenqingren] [varchar](50) NULL,
	[issh] [varchar](2) NULL,
	[addtime] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[huodongshenqing] ON
INSERT [dbo].[huodongshenqing] ([ID], [shetuanbianhao], [shetuanmingcheng], [mingcheng], [huodongleixing], [changdi], [huodongshijian], [huodongjianjie], [shenqingren], [issh], [addtime]) VALUES (1, N'03022221403711', N'志愿者', N'从VBvffgf规范化个', N'室外', N'发的规范化赶紧回家和', N'2017-3-1', N'梵蒂冈方法', N's001', N'是', CAST(0x0000A8990172F53C AS DateTime))
INSERT [dbo].[huodongshenqing] ([ID], [shetuanbianhao], [shetuanmingcheng], [mingcheng], [huodongleixing], [changdi], [huodongshijian], [huodongjianjie], [shenqingren], [issh], [addtime]) VALUES (2, N'03022249413943', N'戏曲社', N'刚回家刚回家火锅就', N'室内', N'规划局和工号否', N'2017-3-2', N'地方大法官地方', N's002', N'是', CAST(0x0000A8990178FA40 AS DateTime))
SET IDENTITY_INSERT [dbo].[huodongshenqing] OFF
/****** Object:  Table [dbo].[dx]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[dx](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[leibie] [varchar](50) NULL,
	[content] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[dx] ON
INSERT [dbo].[dx] ([ID], [leibie], [content]) VALUES (1, N'系统公告', N'<P>&nbsp;&nbsp;&nbsp; 欢迎大家登陆我站，我站主要是为广大朋友精心制作的一个系统，希望大家能够在我站获得一个好心情，谢谢！</P>
<P>&nbsp;&nbsp;&nbsp; 自强不息，海纳百川，努力学习！</P>')
INSERT [dbo].[dx] ([ID], [leibie], [content]) VALUES (2, N'系统简介', N'系统简介')
SET IDENTITY_INSERT [dbo].[dx] OFF
/****** Object:  Table [dbo].[chengyuanxinxi]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[chengyuanxinxi](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[shetuanbianhao] [varchar](50) NULL,
	[shetuanmingcheng] [varchar](50) NULL,
	[baomingfeiyong] [varchar](50) NULL,
	[yonghuming] [varchar](50) NULL,
	[xingming] [varchar](50) NULL,
	[shouji] [varchar](50) NULL,
	[youxiang] [varchar](50) NULL,
	[rutuanriqi] [varchar](50) NULL,
	[baomingren] [varchar](50) NULL,
	[issh] [varchar](2) NULL,
	[beizhu] [varchar](500) NULL,
	[addtime] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[chengyuanxinxi] ON
INSERT [dbo].[chengyuanxinxi] ([ID], [shetuanbianhao], [shetuanmingcheng], [baomingfeiyong], [yonghuming], [xingming], [shouji], [youxiang], [rutuanriqi], [baomingren], [issh], [beizhu], [addtime]) VALUES (1, N'03022221403711', N'志愿者', N'20', N'111', N'陈卫国', N'18988576978', N'5837895@qq.com', N'2017-03-28', N's001', N'是', N'发的电饭锅发', CAST(0x0000A89901711BCC AS DateTime))
INSERT [dbo].[chengyuanxinxi] ([ID], [shetuanbianhao], [shetuanmingcheng], [baomingfeiyong], [yonghuming], [xingming], [shouji], [youxiang], [rutuanriqi], [baomingren], [issh], [beizhu], [addtime]) VALUES (2, N'03022221403711', N'志愿者', N'20', N'xwxxmx', N'吴江', N'13958736784', N'jrjtr@163.com', N'2017-03-28', N's001', N'是', N'梵蒂冈地方', CAST(0x0000A89901717BE4 AS DateTime))
INSERT [dbo].[chengyuanxinxi] ([ID], [shetuanbianhao], [shetuanmingcheng], [baomingfeiyong], [yonghuming], [xingming], [shouji], [youxiang], [rutuanriqi], [baomingren], [issh], [beizhu], [addtime]) VALUES (3, N'03022249413943', N'戏曲社', N'15', N'leejie', N'李龙', N'13958736784', N'fege@126.com', N'2017-03-02', N's002', NULL, N'法规和法国和个', CAST(0x0000A8990178C6B0 AS DateTime))
SET IDENTITY_INSERT [dbo].[chengyuanxinxi] OFF
/****** Object:  Table [dbo].[caiwuguanli]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[caiwuguanli](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[bianhao] [varchar](50) NULL,
	[biaoti] [varchar](50) NULL,
	[xingzhi] [varchar](50) NULL,
	[jine] [varchar](50) NULL,
	[riqi] [varchar](50) NULL,
	[jingshouren] [varchar](50) NULL,
	[xiangguanhuodong] [varchar](300) NULL,
	[beizhu] [varchar](500) NULL,
	[addtime] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[allusers]    Script Date: 03/04/2018 21:10:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[allusers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NULL,
	[pwd] [varchar](50) NULL,
	[cx] [varchar](50) NULL,
	[addtime] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[allusers] ON
INSERT [dbo].[allusers] ([ID], [username], [pwd], [cx], [addtime]) VALUES (1, N'hsg', N'hsg', N'超级管理员', CAST(0x0000A899012CFF78 AS DateTime))
SET IDENTITY_INSERT [dbo].[allusers] OFF
/****** Object:  Default [DF__youqingli__addti__0CBAE877]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[youqinglianjie] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__yonghuzhu__addti__0DAF0CB0]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[yonghuzhuce] ADD  CONSTRAINT [DF__yonghuzhu__addti__0DAF0CB0]  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__yonghuzhuc__issh__0EA330E9]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[yonghuzhuce] ADD  CONSTRAINT [DF__yonghuzhuc__issh__0EA330E9]  DEFAULT ('否') FOR [issh]
GO
/****** Object:  Default [DF__xinwenton__tianj__0F975522]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[xinwentongzhi] ADD  DEFAULT ('hsg') FOR [tianjiaren]
GO
/****** Object:  Default [DF__xinwenton__addti__108B795B]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[xinwentongzhi] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__shoucangj__addti__29572725]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[shoucangjilu] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__shetuanxin__issh__117F9D94]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[shetuanxinxi] ADD  CONSTRAINT [DF__shetuanxin__issh__117F9D94]  DEFAULT ('否') FOR [issh]
GO
/****** Object:  Default [DF__shetuanxi__addti__1273C1CD]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[shetuanxinxi] ADD  CONSTRAINT [DF__shetuanxi__addti__1273C1CD]  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__shetuanxia__issh__1367E606]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[shetuanxiangce] ADD  DEFAULT ('否') FOR [issh]
GO
/****** Object:  Default [DF__shetuanxi__addti__145C0A3F]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[shetuanxiangce] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__shetuanhuo__issh__15502E78]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[shetuanhuodong] ADD  DEFAULT ('否') FOR [issh]
GO
/****** Object:  Default [DF__shetuanhu__addti__164452B1]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[shetuanhuodong] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__shechangxi__issh__173876EA]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[shechangxinxi] ADD  DEFAULT ('否') FOR [issh]
GO
/****** Object:  Default [DF__shechangx__addti__182C9B23]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[shechangxinxi] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__rizhi__addtime__2B3F6F97]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[rizhi] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__richengbi__addti__35BCFE0A]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[richengbiaoxinxi] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__pinglun__addtime__1920BF5C]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[pinglun] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__liuyanban__addti__1A14E395]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[liuyanban] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__kaoqin__issh__1B0907CE]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[kaoqin] ADD  DEFAULT ('否') FOR [issh]
GO
/****** Object:  Default [DF__kaoqin__addtime__1BFD2C07]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[kaoqin] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__jucan__addtime__1CF15040]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[jucan] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__huodongshe__issh__1DE57479]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[huodongshenqing] ADD  DEFAULT ('否') FOR [issh]
GO
/****** Object:  Default [DF__huodongsh__addti__1ED998B2]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[huodongshenqing] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__chengyuan__addti__1FCDBCEB]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[chengyuanxinxi] ADD  CONSTRAINT [DF__chengyuan__addti__1FCDBCEB]  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__caiwuguan__addti__20C1E124]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[caiwuguanli] ADD  DEFAULT (getdate()) FOR [addtime]
GO
/****** Object:  Default [DF__allusers__cx__21B6055D]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[allusers] ADD  DEFAULT ('普通管理员') FOR [cx]
GO
/****** Object:  Default [DF__allusers__addtim__22AA2996]    Script Date: 03/04/2018 21:10:18 ******/
ALTER TABLE [dbo].[allusers] ADD  DEFAULT (getdate()) FOR [addtime]
GO
